<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 10px;">
    <h1 class="display-6 text-center" style="font-weight: bold; text-align:center; color: cornflowerblue ;font-size: 45px ;margin-bottom: 25px; padding-top: 30px">Edit Standard Audit Results</h1>

    <div class="card-body text-center" style="margin-bottom: -10px; margin-top: -15px">
        <img height="128" th:src="${'../../images/'+ audit.productName +'.png'}" width="128">
        <!--                                        alt="" class="r img-responsive mt-2"-->
        <h4 class="card-title text-center" style="margin-top: 5px" th:text="${audit.getProductName()}">Id</h4>
    </div>

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <!--    <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Certificate Page</h3>-->

    <form th:object="${audit}" th:action="@{/audit/edit}" method="POST">

        <input type="hidden" th:field="*{auditID}" id="id">

<!--        <div class="mb-3">-->
<!--            <label for="productNameInput" class="form-label">ชื่อสินค้า</label>-->
<!--            <input id="productNameInput" type="text" class="form-control" th:field="*{productName}">-->
<!--        </div>-->

        <div class="mb-3">
            <label class="form-label">ชื่อผลิตภัณฑ์</label>
            <input type="hidden" th:field="*{productName}" id="productNameInput">
            <h4 class="form-control" type="text" th:utext="${audit.getProductName()}"></h4>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
<!--                    <label for="fda356AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 356</label>-->
<!--                    <input id="fda356AttInput" type="text" class="form-control" th:field="*{fda_356_Att}" placeholder="Type only True or False"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->

                    <label for="fda356AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 356</label>
                    <select th:field="*{fda_356_Att}" id="fda356AttInput" type="text" class="form-control">
                        <option value="เข้าตรวจ">เข้าตรวจ</option>
                        <option value="ไม่เข้าตรวจ">ไม่เข้าตรวจ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
<!--                    <label for="fda356ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 356</label>-->
<!--                    <input id="fda356ResInput" type="text" class="form-control" th:field="*{fda_356_Res}" placeholder="Type only True or False">-->

                    <label for="fda356ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 356</label>
                    <select th:field="*{fda_356_Res}" id="fda356ResInput" type="text" class="form-control">
                        <option value="ผ่านการตรวจสอบ">ผ่านการตรวจสอบ</option>
                        <option value="ไม่ผ่านการตรวจสอบ">ไม่ผ่านการตรวจสอบ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="fda356CerInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 356</label>
                    <input id="fda356CerInput" type="text" class="form-control" th:field="*{fda_356_Cer}">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
<!--                    <label for="fda414AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 414</label>-->
<!--                    <input id="fda414AttInput" type="text" class="form-control" th:field="*{fda_414_Att}" placeholder="Type only True or False"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->

                    <label for="fda414AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 414</label>
                    <select th:field="*{fda_414_Att}" id="fda414AttInput" type="text" class="form-control">
                        <option value="เข้าตรวจ">เข้าตรวจ</option>
                        <option value="ไม่เข้าตรวจ">ไม่เข้าตรวจ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
<!--                    <label for="fda414ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 414</label>-->
<!--                    <input id="fda414ResInput" type="text" class="form-control" th:field="*{fda_414_Res}" placeholder="Type only True or False">-->

                    <label for="fda414ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 414</label>
                    <select th:field="*{fda_414_Res}" id="fda414ResInput" type="text" class="form-control">
                        <option value="ผ่านการตรวจสอบ">ผ่านการตรวจสอบ</option>
                        <option value="ไม่ผ่านการตรวจสอบ">ไม่ผ่านการตรวจสอบ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="fda414CerInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 414</label>
                    <input id="fda414CerInput" type="text" class="form-control" th:field="*{fda_414_Cer}">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
<!--                    <label for="fda416AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 416</label>-->
<!--                    <input id="fda416AttInput" type="text" class="form-control"th:field="*{fda_416_Att}" placeholder="Type only True or False"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->

                    <label for="fda416AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 416</label>
                    <select th:field="*{fda_416_Att}" id="fda416AttInput" type="text" class="form-control">
                        <option value="เข้าตรวจ">เข้าตรวจ</option>
                        <option value="ไม่เข้าตรวจ">ไม่เข้าตรวจ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
<!--                    <label for="fda416ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 416</label>-->
<!--                    <input id="fda416ResInput" type="text" class="form-control" th:field="*{fda_416_Res}" placeholder="Type only True or False">-->

                    <label for="fda416ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 416</label>
                    <select th:field="*{fda_416_Res}" id="fda416ResInput" type="text" class="form-control">
                        <option value="ผ่านการตรวจสอบ">ผ่านการตรวจสอบ</option>
                        <option value="ไม่ผ่านการตรวจสอบ">ไม่ผ่านการตรวจสอบ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="fda416CerInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 416</label>
                    <input id="fda416CerInput" type="text" class="form-control" th:field="*{fda_416_Cer}">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
<!--                    <label for="fda418AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 418</label>-->
<!--                    <input id="fda418AttInput" type="text" class="form-control" th:field="*{fda_418_Att}" placeholder="Type only True or False"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->

                    <label for="fda418AttInput" class="form-label">การเข้าตรวจตามประกาศอ.ย.ฉบับ 418</label>
                    <select th:field="*{fda_418_Att}" id="fda418AttInput" type="text" class="form-control">
                        <option value="เข้าตรวจ">เข้าตรวจ</option>
                        <option value="ไม่เข้าตรวจ">ไม่เข้าตรวจ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
<!--                    <label for="fda418ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 418</label>-->
<!--                    <input id="fda418ResInput" type="text" class="form-control" th:field="*{fda_418_Res}" placeholder="Type only True or False">-->

                    <label for="fda418ResInput" class="form-label">สรุปผลตรวจตามประกาศอ.ย.ฉบับ 418</label>
                    <select th:field="*{fda_418_Res}" id="fda418ResInput" type="text" class="form-control">
                        <option value="ผ่านการตรวจสอบ">ผ่านการตรวจสอบ</option>
                        <option value="ไม่ผ่านการตรวจสอบ">ไม่ผ่านการตรวจสอบ</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="fda418CerInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 418</label>
                    <input id="fda418CerInput" type="text" class="form-control" th:field="*{fda_418_Cer}">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" style="margin-left: 435px; margin-top: 10px">
                <div class="mb-3 text-center">
                    <button class="btn btn-primary" type="submit" style="margin-bottom: -35px" onclick = "return confirm('Would you like to confirm?')">Edit Standard Audit Results</button>
                </div>
            </div>

            <div class="col text-end" style="margin-top: 15px">
                <div class="mb-3">
                    <a class="btn btn-primary" style="margin-right: 35px; margin-bottom: -25px" th:href="@{/audit/list}">Back</a>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>