<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="/lib/w3.css">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/myScript.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background: url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>

<div th:insert="fragments/header :: header"></div>

<div class="input-group mb-3 d-flex justify-content-center" style="margin-top: 50px">
    <div class="input-group-append">

<!--        <div class="topNav">--> <!--Method Search Bar-->
<!--            <div class="search-container" style="margin-top: 20px; text-align: end">-->
<!--                <form action="/action_page.php">-->
<!--                    <input type="text" placeholder="Search.." name="search">-->
<!--                    <button type="submit">Submit<i class="fa fa-search"></i></button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

        <marquee>Please make sure not to add any product(s) in to checklist twice.</marquee>

        <div class="alert alert-danger" role="alert" style="text-align: center; margin-top: 25px" th:text="${error}" th:if="${error}"></div>

        <div class="container" style="margin-top:10px">
            <table style="width: 100%">
                <tbody>
                <form th:action="@{/cart}" method="post" th:each="cakes : ${cakes}"}>
                    <tr>
                        <div class="card custom-card text-center mr-2 mt-2 ml-2 mb-2"
                             style="width: 19rem; display: inline-block; margin-right: 15px; border-radius: 25px; background-color: #D9D9D9; padding-top: 0px; padding-bottom: 25px; margin-bottom: 20px">
                            <div class="card-body">
<!--                                <div class="w3-content" style="max-width:800px;position:relative">-->
<!--                                    <div class="w3-display-container mySlides">-->
                                        <img alt="" class="rounded-circle img-responsive mt-2" height="128"
                                             th:src="${'../../images/'+ cakes.productName +'.png'}" width="128">
<!--                                        <div class="w3-display-bottomleft w3-large w3-container w3-padding-hor-16 w3-black"></div>-->
<!--                                    </div>-->

<!--                                    <div class="w3-display-container mySlides">-->
<!--                                        <img alt="" class="rounded-circle img-responsive mt-2 mySlides" height="128"-->
<!--                                             th:src="${'../../images/'+ cakes.productName + ' 2' + '.png'}" width="128">-->
<!--                                        <div class="w3-display-bottomleft w3-large w3-container w3-padding-hor-16 w3-black"></div>-->
<!--                                    </div>-->

<!--                                    <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:52%;left:0" onclick="plusDivs(-1)">❮</a>-->
<!--                                    <a class="w3-btn-floating w3-hover-dark-grey" style="position:absolute;top:52%;right:0" onclick="plusDivs(1)">❯</a>-->
<!--                                </div>-->

                                <h5 class="card-title" th:text="${cakes.getProductName}">Name</h5>
                                <label></label>
                                <p class="card-text" style="text-align:left;" th:text="${'Product Volume : ' + cakes.productVolume}">Volume</p>
                                <p class="card-text" style="text-align:left;" th:text="${'Product Quantity : ' + cakes.productQuantity + ' Pieces' }">Quantity</p>
                                <p class="card-text" style="text-align:left;" th:text="${'Product Price : ' + cakes.price + ' Baht'}" th:value="${cakes.price}">Price</p>

                                <input hidden type="text" th:name="productName" th:value="${cakes.productName}">
                                <input hidden type="text" th:name="name" th:value="${cakes.pID}">
                                <input hidden type="number" style="text-align: center;border-style: hidden;background:none;"  th:id="${cakes.pID+'increase2'}" th:name="num" value="0" />
                            </div>
                            <div>

                                <a sec:authorize="hasRole('USER')" style="text-align: center" th:href="@{/cakes/edit/{id}(id=${cakes.pID})}" ><button type="button" name="button" id="button" class="btn btn-primary">Product information</button></a>
                                <a sec:authorize="hasRole('ADMIN')" style="text-align: center;" th:href="@{/cakes/edit/{id}(id=${cakes.pID})}" ><button type="button" class="btn btn-primary">Product information</button></a>

                                <button sec:authorize="hasRole('USER')" class="btn btn-primary" type="submit">Add Check</button>

                            </div>
                        </div>
                    </tr>
                </form>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
    }
</script>
</body>
</html>