<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 10px;">
    <h1 class="display-6 text-center" style="font-weight: bold; text-align:center; color: cornflowerblue ;font-size: 45px ;margin-bottom: 25px; padding-top: 30px">Edit Announcement of FDA No.356</h1>

    <div class="card-body text-center" style="margin-bottom: -10px; margin-top: -15px">
        <img height="128" th:src="${'../../images/'+ fda356.productName +'.png'}" width="128">
        <!--                                        alt="" class="r img-responsive mt-2"-->
        <h4 class="card-title text-center" style="margin-top: 5px" th:text="${fda356.getProductName()}">Id</h4>
    </div>

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <!--    <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Certificate Page</h3>-->

    <form th:object="${fda356}" th:action="@{/fda356/edit}" method="POST">

        <input type="hidden" th:field="*{fda356ID}" id="id">

<!--        <div class="mb-3">-->
<!--            <label for="productInput" class="form-label">ชื่อสินค้า</label>-->
<!--            <input id="productInput" type="text" class="form-control" th:field="*{productName}">-->
<!--        </div>-->

        <div class="mb-3">
            <label class="form-label">ชื่อผลิตภัณฑ์</label>
            <input type="hidden" th:field="*{productName}" id="productNameInput">
            <h4 class="form-control" type="text" th:utext="${fda356.getProductName()}"></h4>
        </div>

        <div class="mb-3">
            <label for="weightInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 356</label>
            <input id="weightInput" type="text" class="form-control" th:field="*{r_name}">
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="phValueSInput" class="form-label">เกณฑ์ค่า PH</label>
                    <input id="phValueSInput" type="text" class="form-control" th:field="*{ph_value_s}"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="phValueInput" class="form-label">ผลการตรวจค่า PH</label>
                    <input id="phValueInput" type="text" class="form-control" th:field="*{ph_value_c}">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
<!--                    <label for="phValueFInput" class="form-label">สรุปผลการตรวจสอบค่า PH</label>-->
<!--                    <input id="phValueFInput" type="text" class="form-control" th:field="*{ph_value_f}" placeholder="Type only Pass or Not Pass">-->

                    <label for="phValueFInput" class="form-label">สรุปผลการตรวจสอบค่า PH</label>
                    <select th:field="*{ph_value_f}" id="phValueFInput" type="text" class="form-control">
                        <option value="ผ่าน">ผ่าน</option>
                        <option value="ไม่ผ่าน">ไม่ผ่าน</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label for="coliformSInput" class="form-label">เกณฑ์การตรวจโคลิฟอร์ม</label>
                    <input id="coliformSInput" type="text" class="form-control" th:field="*{coli_s}"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="coliformCInput" class="form-label">ผลการตรวจโคลิฟอร์ม</label>
                    <input id="coliformCInput" type="text" class="form-control" th:field="*{coli_c}">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
<!--                    <label for="coliformFInput" class="form-label">สรุปผลการตรวจสอบโคลิฟอร์ม</label>-->
<!--                    <input id="coliformFInput" type="text" class="form-control" th:field="*{coli_f}" placeholder="Type only Pass or Not Pass">-->

                    <label for="coliformFInput" class="form-label">สรุปผลการตรวจสอบโคลิฟอร์ม</label>
                    <select th:field="*{coli_f}" id="coliformFInput" type="text" class="form-control">
                        <option value="ผ่าน">ผ่าน</option>
                        <option value="ไม่ผ่าน">ไม่ผ่าน</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="yeastMoldSInput" class="form-label">เกณฑ์การตรวจยีสต์และรา</label>
                    <input id="yeastMoldSInput" type="text" class="form-control" th:field="*{yeast_mold_s}"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="yeastMoldRInput" class="form-label">ผลการตรวจยีสต์และรา</label>
                    <input id="yeastMoldRInput" type="text" class="form-control" th:field="*{yeast_mold_r}">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="yeastsInput" class="form-label">ปริมาณยีสต์</label>
                    <input id="yeastsInput" type="text" class="form-control" th:field="*{yeast_c}"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="moldsInput" class="form-label">ปริมาณรา</label>
                    <input id="moldsInput" type="text" class="form-control" th:field="*{mold_c}">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>
        </div>

        <div class="mb-3">
<!--            <label for="yeastMoldFInput" class="form-label">สรุปผลการตรวจสอบยีสต์และรา</label>-->
<!--            <input id="yeastMoldFInput" type="text" class="form-control" placeholder="Type only Pass or Not Pass" th:field="*{yeast_mold_f}">-->

            <label for="yeastMoldFInput" class="form-label">สรุปผลการตรวจสอบยีสต์และรา</label>
            <select th:field="*{yeast_mold_f}" id="yeastMoldFInput" type="text" class="form-control">
                <option value="ผ่าน">ผ่าน</option>
                <option value="ไม่ผ่าน">ไม่ผ่าน</option>
            </select>
        </div>

        <div class="row mb-4">
            <div class="col" style="margin-left: 435px; margin-top: 10px">
                <div class="mb-3 text-center">
                    <button class="btn btn-primary" type="submit" style="margin-bottom: -35px" onclick = "return confirm('Would you like to confirm?')">Edit Information of FDA Announcement No.356</button>
                </div>
            </div>

            <div class="col text-end" style="margin-top: 15px">
                <div class="mb-3">
                    <a class="btn btn-primary" style="margin-right: 35px; margin-bottom: -25px" th:href="@{/fda356/list}">Back</a>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>