<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 25px;">

    <div class="row mb-4" style="margin-top: 10px">
        <div class="col" style="margin-left: 10px">
            <div class="text-start">
                <h1 class="display-6 text-start" style="font-weight: bold; margin-bottom: 0px; text-align:start; color: cornflowerblue ;font-size: 38px ; margin-top: 50px">Add Announcement of FDA No.356</h1>            </div>
        </div>

        <div class="col text-end">
            <div class="mb-3">
                <a class="btn btn-primary" style="margin-right: 15px; margin-bottom: 0px; margin-top: 55px" th:href="@{/fda356/list}">Back to Information FDA365</a>
            </div>
        </div>
    </div>

    <form th:action="@{/fda356/add}" method="POST">

        <div class="alert alert-danger" style="text-align: center" role="alert" th:text="${error}" th:if="${error}"></div>

<!--        <div class="mb-3">-->
<!--            <label for="productInput" class="form-label">ชื่อสินค้า</label>-->
<!--            <input id="productInput" type="text" class="form-control" name="productName">-->
<!--        </div>-->

        <label for="productNameInput" class="form-label">ชื่อผลิตภัณฑ์</label>
        <select name="productName" id="productNameInput" type="text" class="form-control">
            <option th:each="productsFDA356 : ${productsFDA356}" th:value="${productsFDA356.productName}" th:utext="${productsFDA356.productName}"></option>
        </select>

        <div class="mb-3" style="margin-top: 20px">
            <label for="weightInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศ อ.ย. 356</label>
            <input id="weightInput" type="text" class="form-control" name="r_name">
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="phValueSInput" class="form-label">เกณฑ์ค่า PH</label>
<!--                    <input id="phValueSInput" type="text" class="form-control" name="ph_value_s"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->
                    <input id="phValueSInput" type="number" class="form-control" name="ph_value_s" value="7" step="1" min="0" max="14">
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="phValueCInput" class="form-label">ผลการตรวจค่า PH</label>
<!--                    <input id="phValueCInput" type="text" class="form-control" name="ph_value_c">-->
                    <input id="phValueCInput" type="number" class="form-control" name="ph_value_c" value="7" step="1" min="0" max="14">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
<!--                <div class="form-outline">-->
<!--                    <label for="phValueFInput" class="form-label">สรุปผลการตรวจสอบค่า PH</label>-->
<!--                    <input id="phValueFInput" type="text" class="form-control" name="ph_value_f" placeholder="Type only Pass or Not Pass">-->
<!--                </div>-->

<!--                <form action="/action_page.php">-->
                    <label for="phValueFInput" class="form-label">สรุปผลการตรวจสอบค่า PH</label>
                    <select name="ph_value_f" id="phValueFInput" type="text" class="form-control">
<!--                        <optgroup label="Swedish Cars">-->
                            <option value="ผ่าน">ผ่าน</option>
                            <option value="ไม่ผ่าน">ไม่ผ่าน</option>
<!--                        </optgroup>-->
<!--                        <optgroup label="German Cars">-->
<!--                            <option value="mercedes">Mercedes</option>-->
<!--                            <option value="audi">Audi</option>-->
<!--                        </optgroup>-->
                    </select>
<!--                    <br><br>-->
<!--                    <input type="submit" value="Submit">-->
<!--                </form>-->
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label for="coliformSInput" class="form-label">เกณฑ์การตรวจโคลิฟอร์ม</label>
<!--                    <input id="coliformSInput" type="text" class="form-control" name="coli_s"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->
                    <input id="coliformSInput" type="number" class="form-control" name="coli_s" value="0" step="0.1" min="0" max="99">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="coliformCInput" class="form-label">ผลการตรวจโคลิฟอร์ม</label>
<!--                    <input id="coliformCInput" type="text" class="form-control" name="coli_c">-->
                    <input id="coliformCInput" type="number" class="form-control" name="coli_c" value="0" step="0.1" min="0" max="99">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
<!--                    <label for="coliformFInput" class="form-label">สรุปผลการตรวจสอบโคลิฟอร์ม</label>-->
<!--                    <input id="coliformFInput" type="text" class="form-control" name="coli_f" placeholder="Type only Pass or Not Pass">-->

                    <label for="coliformFInput" class="form-label">สรุปผลการตรวจสอบโคลิฟอร์ม</label>
                    <select name="coli_f" id="coliformFInput" type="text" class="form-control">
                        <option value="ผ่าน">ผ่าน</option>
                        <option value="ไม่ผ่าน">ไม่ผ่าน</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="yeastMoldSInput" class="form-label">เกณฑ์การตรวจยีสต์และรา</label>
<!--                    <input id="yeastMoldSInput" type="text" class="form-control" name="yeast_mold_s"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->
                    <input id="yeastMoldSInput" type="number" class="form-control" name="yeast_mold_s" value="0" step="1" min="0" max="99">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="yeastMoldRInput" class="form-label">ผลการตรวจยีสต์และรา</label>
<!--                    <input id="yeastMoldRInput" type="text" class="form-control" name="yeast_mold_r">-->
                    <input id="yeastMoldRInput" type="number" class="form-control" name="yeast_mold_r" value="0" step="1" min="0" max="99">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="yeastsInput" class="form-label">ปริมาณยีสต์</label>
<!--                    <input id="yeastsInput" type="text" class="form-control" name="yeast_c"> &lt;!&ndash;Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล&ndash;&gt;-->
                    <input id="yeastsInput" type="number" class="form-control" name="yeast_c" value="0" step="1" min="0" max="99">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="moldsInput" class="form-label">ปริมาณรา</label>
<!--                    <input id="moldsInput" type="text" class="form-control" name="mold_c">-->
                    <input id="moldsInput" type="number" class="form-control" name="mold_c" value="0" step="1" min="0" max="99">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>
        </div>

        <div class="mb-3">
<!--            <label for="yeastMoldFInput" class="form-label">สรุปผลการตรวจสอบยีสต์และรา</label>-->
<!--            <input id="yeastMoldFInput" type="text" class="form-control" name="yeast_mold_f" placeholder="Type only Pass or Not Pass">-->

            <label for="yeastMoldFInput" class="form-label">สรุปผลการตรวจสอบยีสต์และรา</label>
            <select name="yeast_mold_f" id="yeastMoldFInput" type="text" class="form-control">
                <option value="ผ่าน">ผ่าน</option>
                <option value="ไม่ผ่าน">ไม่ผ่าน</option>
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="margin-bottom: 25px; margin-top: 25px" onclick = "return confirm('Would you like to confirm?')">Add Information of FDA Announcement No.356</button>
        </div>

    </form>
</div>
</body>
</html>