<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 25px;">

    <div class="row mb-4" style="margin-top: 10px">
        <div class="col" style="margin-left: 10px">
            <div class="text-start">
                <h1 class="display-6 text-start" style="font-weight: bold; margin-bottom: 0px; text-align:start; color: cornflowerblue ;font-size: 38px ; margin-top: 50px">Add Announcement of FDA No.414</h1>            </div>
        </div>

        <div class="col text-end">
            <div class="mb-3">
                <a class="btn btn-primary" style="margin-right: 15px; margin-bottom: 0px; margin-top: 60px" th:href="@{/fda414/list}">Back to Information FDA414</a>
            </div>
        </div>
    </div>

    <form th:action="@{/fda414/add}" method="POST">

        <div class="alert alert-danger" style="text-align: center" role="alert" th:text="${error}" th:if="${error}"></div>

<!--        <div th:if="${message}">-->
<!--            <h2 th:text="${message}"/>-->
<!--        </div>-->

<!--        <div>-->
<!--            <form method="POST" enctype="multipart/form-data" action="/upload_files/handle_upload">-->
<!--                <table>-->
<!--                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>-->
<!--                    <tr><td></td><td><input type="submit" value="Upload" /></td></tr>-->
<!--                </table>-->
<!--            </form>-->
<!--        </div>-->

<!--        <div>-->
<!--            <ul>-->
<!--                <li th:each="file : ${files}">-->
<!--                    <a th:href="${file}" th:text="${file}" />-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="productInput" class="form-label">ชื่อสินค้า</label>-->
<!--            <input id="productInput" type="text" class="form-control" name="productName">-->
<!--        </div>-->

        <label for="productNameInput" class="form-label">ชื่อผลิตภัณฑ์</label>
        <select name="productName" id="productNameInput" type="text" class="form-control">
            <option th:each="productsFDA414 : ${productsFDA414}" th:value="${productsFDA414.productName}" th:utext="${productsFDA414.productName}"></option>
        </select>

        <div class="mb-3" style="margin-top: 20px">
            <label for="NAAFDA414Input" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 414</label>
            <input id="NAAFDA414Input" type="text" class="form-control" name="r_name">
        </div>

        <div class="mb-3">
            <label for="LeadSInput" class="form-label">เกณฑ์ผลการตรวจสารประกอบตะกั่ว</label>
<!--            <input id="LeadSInput" type="text" class="form-control" name="lead_s">-->
            <input id="LeadSInput" type="number" class="form-control" name="lead_s" value="0" step="0.1" min="0" max="9999.9">
        </div>

        <div class="mb-3">
            <label for="LeadRInput" class="form-label">ผลการตรวจสารประกอบตะกั่ว</label>
<!--            <input id="LeadRInput" type="text" class="form-control" name="lead_c">-->
            <input id="LeadRInput" type="number" class="form-control" name="lead_c" value="0" step="0.1" min="0" max="9999.9">
        </div>

        <div class="mb-3">
<!--            <label for="LeadFInput" class="form-label">สรุปผลการตรวจสอบตะกั่ว</label>-->
<!--            <input id="LeadFInput" type="text" class="form-control" name="lead_f" placeholder="Type only Pass or Not Pass">-->

            <label for="LeadFInput" class="form-label">สรุปผลการตรวจสอบตะกั่ว</label>
            <select name="lead_f" id="LeadFInput" type="text" class="form-control">
                <option value="ผ่าน">ผ่าน</option>
                <option value="ไม่ผ่าน">ไม่ผ่าน</option>
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="margin-bottom: 25px; margin-top: 25px" onclick = "return confirm('Would you like to confirm?')">Add Information of FDA Announcement No.414</button>
        </div>

    </form>
</div>
</body>
</html>