<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 10px;">
    <h1 class="display-6 text-center" style="font-weight: bold; text-align:center; color: #dc3545 ;font-size: 45px ;margin-bottom: 25px; padding-top: 30px">Edit Announcement of FDA No.416</h1>

    <div class="card-body text-center" style="margin-bottom: -10px; margin-top: -15px">
        <img height="128" th:src="${'../../images/'+ fda416.productName +'.png'}" width="128">
        <!--                                        alt="" class="r img-responsive mt-2"-->
        <h4 class="card-title text-center" style="margin-top: 5px" th:text="${fda416.getProductName()}">Id</h4>
    </div>

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <!--    <h3 class="col text-start" style="font-weight: bold; color: #dc3545; padding-top: 15px">Certificate Page</h3>-->

    <form th:object="${fda416}" th:action="@{/fda416/edit}" method="POST">

        <input type="hidden" th:field="*{fda416ID}" id="id">

        <div class="mb-3">
            <label for="productInput" class="form-label">ชื่อสินค้า</label>
            <input id="productInput" type="text" class="form-control" th:field="*{productName}">
        </div>

        <div class="mb-3">
            <label for="weightInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 416</label>
            <input id="weightInput" type="text" class="form-control" th:field="*{r_name}">
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="salla_SInput" class="form-label">เกณฑ์การตรวจแบคทีเรีย Salmonella</label>
                    <input id="salla_SInput" type="text" class="form-control" th:field="*{salla_s}"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="salla_RInput" class="form-label">ผลการตรวจแบคทีเรีย Salmonella</label>
                    <input id="salla_RInput" type="text" class="form-control" th:field="*{salla_c}">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="salla_FInput" class="form-label">สรุปผลการตรวจสอบ Salmonella</label>
            <input id="salla_FInput" type="text" class="form-control" th:field="*{salla_f}">
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="sareusSInput" class="form-label">เกณฑ์การตรวจแบคทีเรีย S.areus</label>
                    <input id="sareusSInput" type="text" class="form-control" th:field="*{sareus_s}"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sareusRInput" class="form-label">ผลการตรวจแบคทีเรีย S.areus</label>
                    <input id="sareusRInput" type="text" class="form-control" th:field="*{sareus_c}">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="sareusFInput" class="form-label">สรุปผลการตรวจสอบ S.areus</label>
            <input id="sareusFInput" type="text" class="form-control" th:field="*{sareus_f}">
        </div>

        <div class="row mb-4">
            <div class="col" style="margin-left: 435px; margin-top: 10px">
                <div class="mb-3 text-center">
                    <button class="btn btn-danger" type="submit" style="margin-bottom: -35px" onclick = "return confirm('Would you like to confirm?')">Edit Information of FDA Announcement No.416</button>
                </div>
            </div>

            <div class="col text-end" style="margin-top: 15px">
                <div class="mb-3">
                    <a class="btn btn-danger" style="margin-right: 35px; margin-bottom: -35px" th:href="@{/fda416/list}">Back</a>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>