<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 25px;">

    <div class="row mb-4" style="margin-top: 10px">
        <div class="col" style="margin-left: 10px">
            <div class="text-start">
                <h1 class="display-6 text-start" style="font-weight: bold; margin-bottom: 0px; text-align:start; color: #dc3545 ;font-size: 38px ; margin-top: 50px">Add Announcement of FDA No.418</h1>
            </div>
        </div>

        <div class="col text-end">
            <div class="mb-3">
                <a class="btn btn-danger" style="margin-right: 15px; margin-bottom: 0px; margin-top: 60px" th:href="@{/fda418/list}">Back to Information FDA418</a>
            </div>
        </div>
    </div>

    <form th:action="@{/fda418/add}" method="POST">

        <div class="alert alert-danger" style="text-align: center" role="alert" th:text="${error}" th:if="${error}"></div>

        <div class="mb-3">
            <label for="productInput" class="form-label">ชื่อสินค้า</label>
            <input id="productInput" type="text" class="form-control" name="productName">
        </div>

        <div class="mb-3">
            <label for="weightInput" class="form-label">ชื่อผู้ตรวจสอบตามประกาศอ.ย. 418</label>
            <input id="weightInput" type="text" class="form-control" name="r_name">
        </div>

        <div class="mb-3">
            <label for="sumBenzoicSorbicInput" class="form-label">เกณฑ์การตรวจกรดเบนโซอิกและซอร์บิค</label>
            <input id="sumBenzoicSorbicInput" type="text" class="form-control" name="sum_benzoic_sorbic">
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="benzoicCInput" class="form-label">ปริมาณกรดเบนโซอิก</label>
                    <input id="benzoicCInput" type="text" class="form-control" name="benzoic_c"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sorbicCInput" class="form-label">ปริมาณกรดซอร์บิค</label>
                    <input id="sorbicCInput" type="text" class="form-control" name="sorbic_c">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="benzoicSorbicFInput" class="form-label">สรุปผลการตรวจสอบกรดเบนโซอิกและกรดซอร์บิค</label>
                    <input id="benzoicSorbicFInput" type="text" class="form-control" name="benzoic_sorbic_f">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="syntSInput" class="form-label">เกณฑ์การตรวจสีผสมอาหาร</label>
                    <input id="syntSInput" type="text" class="form-control" name="synt_s"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="syntRInput" class="form-label">ปริมาณสีผสมอาหาร</label>
                    <input id="syntRInput" type="text" class="form-control" name="synt_c">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="syntFInput" class="form-label">สรุปผลการตรวจสอบสีผสมอาหาร</label>
                    <input id="syntFInput" type="text" class="form-control" name="synt_f">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="sodSInput" class="form-label">เกณฑ์การตรวจเกลือโซเดียมเบนโซเอต</label>
                    <input id="sodSInput" type="text" class="form-control" name="sod_s"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sodRInput" class="form-label">ปริมาณเกลือโซเดียมเบนโซเอต</label>
                    <input id="sodRInput" type="text" class="form-control" name="sod_c">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sodFInput" class="form-label">สรุปผลการตรวจสอบเกลือโซเดียมเบนโซเอต</label>
                    <input id="sodFInput" type="text" class="form-control" name="sod_f">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="potasSInput" class="form-label">เกณฑ์การตรวจสอบกรดโปรแทสเซียมซอร์เบท</label>
                    <input id="potasSInput" type="text" class="form-control" name="potas_s"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="potasRInput" class="form-label">ปริมาณโปรแทสเซียมซอร์เบท</label>
                    <input id="potasRInput" type="text" class="form-control" name="potas_c">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="potasFInput" class="form-label">สรุปผลการตรวจสอบกรดโปรแทสเซียมซอร์เบท</label>
                    <input id="potasFInput" type="text" class="form-control" name="potas_f">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="plateCountSInput" class="form-label">เกณฑ์การตรวจวัดปริมาณจุลินทรีย์</label>
                    <input id="plateCountSInput" type="text" class="form-control" name="plate_s"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="plateCountInput" class="form-label">ผลการตรวจวัดปริมาณจุลินทรีย์</label>
                    <input id="plateCountInput" type="text" class="form-control" name="plate_c">
                    <!--                        <label class="form-label" for="form7Example4">ชื่อสินค้าภาษาไทย</label>-->
                    <!--                        <input type="text" id="form7Example4" class="form-control" th:name="productNameTH"/>-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="plateCountFInput" class="form-label">สรุปผลการตรวจสอบวัดปริมาณจุลินทรีย์</label>
                    <input id="plateCountFInput" type="text" class="form-control" name="plate_f">
                    <!--                        <label class="form-label" for="form7Example5">รหัสเจ้าของสินค้า</label>-->
                    <!--                        <input type="text" id="form7Example5" class="form-control" th:name="productOwnerID"/>-->
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-danger" style="margin-bottom: 25px; margin-top: 25px" onclick = "return confirm('Would you like to confirm?')">Add Information of FDA Announcement No.418</button>
        </div>

    </form>
</div>
</body>
</html>