<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Premium @KU Website</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<style>
    body
    {
        /*            background-image: url('https://wallpaperaccess.com/full/2029165.jpg');*/
        background:url('https://cdn.discordapp.com/attachments/800934715573010436/1039196060406521916/f2f2f7.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container" style="background-color: white; margin-top:50px; margin-bottom: 50px; padding-bottom: 20px ;border-radius: 25px;">

    <div class="row mb-4" style="margin-top: 10px">
        <div class="col" style="margin-left: 10px">
            <div class="text-start">
                <h1 class="display-6 text-start" style="font-weight: bold; margin-bottom: 0px; text-align:start; color: #dc3545 ;font-size: 38px ; margin-top: 50px">Add Product Inspection Data</h1>
            </div>
        </div>

        <div class="col text-end">
            <div class="mb-3">
                <a class="btn btn-danger" style="margin-right: 15px; margin-bottom: 0px; margin-top: 60px" th:href="@{/inspection/list}">Back to Inspection Data List</a>
            </div>
        </div>
    </div>

    <form th:action="@{/inspection/add}" method="POST">

        <div class="alert alert-danger" style="text-align: center" role="alert" th:text="${error}" th:if="${error}"></div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="productNameInput" class="form-label">ชื่อสินค้า</label>
                    <input id="productNameInput" type="text" class="form-control" name="productName"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="sentDateInput" class="form-label">วันที่ส่งตรวจสอบตรวจสอบผลิตภัณฑ์</label>
                    <input id="sentDateInput" type="text" class="form-control" name="sent_Date">
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col" >
                <div class="form-outline">
                    <label for="rNameInput" class="form-label">ชื่อผู้ตรวจสอบ</label>
                    <input id="rNameInput" type="text" class="form-control" name="r_Name"> <!--Name = ชื่อด้านหลังต้องตรงกับฟีลในโมเดล-->
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="rRankInput" class="form-label">วิทยฐานะผู้ตรวจสอบ</label>
                    <input id="rRankInput" type="text" class="form-control" name="r_Rank">
                </div>
            </div>

            <div class="col">
                <div class="form-outline">
                    <label for="statusInput" class="form-label">สถานะการตรวจสอบ</label>
                    <input id="statusInput" type="text" class="form-control" name="status">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="noteInput" class="form-label">หมายเหตุ</label>
            <input id="noteInput" type="text" class="form-control" name="note">
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-danger" style="margin-bottom: 25px; margin-top: 25px" onclick = "return confirm('Would you like to confirm?')">Add Product Inspection Data</button>
        </div>

    </form>
</div>
</body>
</html>